/* Fonts */
@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/Montserrat-Regular.otf");
}
/* Fonts End */

/* Navigation */
.navContainer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logoutContainer{
    border: 1px solid green;

    display: flex;
    align-items: center;
    column-gap: 32px;
}

.surname{
    font-family: "MontserratSemiBold";
    font-size: 18px;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 140px 60px 140px;
    width: 100%;
    max-width: 1138px;
}

nav ul{
    display: flex;
    user-select: none;
    padding: 0;
}

nav ul li{
    list-style-type: none;
    font-family: "MontserratSemiBold";
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;  
    z-index: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav .logo img{
    width: 228px;
    height: 60px;
}

.loginBtn{
    font-family: "MontserratSemiBold";
    margin-right: 0;
    border-radius: 50px;
    padding: 10px 35px;
    text-align: center;
    color: white;
    background: rgb(180,26,26);
    background: -moz-linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    background: linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    user-select: none;
    cursor: pointer;
    z-index: 2;
}

.logoutBtn{
    font-family: "MontserratSemiBold";
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.burger{
    padding: 5px;
    cursor: pointer;
    display: none;
    z-index: 0;
    cursor: pointer;
}
/* Navigation */

/* Mobile Navigation */
header{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 5;
}

.mobileNavContainer{
    background-color: #161616;
    width: 279px;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100vh - 104px);
    padding: 52px 25px;
    z-index: 2;
}

.mobileNav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mobileNav .logo{
    width: 100%;
}

.mobileNav .logo img{
    width: 100%;
}

.mobileNavList{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.mobileNavList li{
    list-style-type: none;
    font-family: "MontserratRegular";
    font-size: 18px;
    color: white;
}

.mobileNavList li a:link,
.mobileNavList li a:visited,
.mobileNavList li a:hover,
.mobileNavList li a:active{
    text-decoration: none;
    color: white;
    font-family: "MontserratRegular";
    margin: 0;
    padding: 10px 0;
}

header .closeBtn{
    width: 42px;
    height: 42px;
    position: absolute;
    top: 52px;
    left: 52px;
    cursor: pointer;
}

header .closeBtn img{
    width: 100%;
}

header.active .mobileNavContainer{
    display: block;
}

header.active{
    display: block;
}
/* Mobile Navigation End */

/* Media Query */
@media (max-width: 1200px){
    nav ul{
        display: none;
    }

    nav .loginBtn{
        display: none;
    }

    nav .burger{
        display: block;
    }

    nav{
        margin: 40px 50px 60px 50px;
    }

    .logoutContainer{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    header .closeBtn{
        top: 35px;
        left: 35px;
    }

    .mobileNavContainer{
        width: calc(253px - 48px);
        height: calc(100vh - 70px);
        padding: 35px;
    }

    nav{
        margin: 40px 20px 60px 20px;
    }

    nav .logo img{
        width: 183px;
        height: 48px;
    }
}

@media only screen and (max-width: 375px){
    .mobileNavContainer{
        width: calc(60% - 48px);
    }
}
/* Media Query End */