/* Fonts */
@font-face {
    font-family: "Quantify";
    src: url("../fonts/Quantify/Quantify.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat/Montserrat-Bold.otf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat/Montserrat-Medium.otf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/Montserrat-Regular.otf");
}
/* Font End */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    background-image: url("../img/Background.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.container{
    margin: 0 140px;
    padding-bottom: 40px;
    color: white;
}

/* Abstract Category */
.additionalContainer{
    display: flex;
    justify-content: center;
}

.infoContainer{
    margin-top: 13px;
    padding: 0;
    max-width: 1011px;
}

.infoContainer p,
.infoContainer h1,
.infoContainer h3,
.infoContainer h4,
.infoContainer h5{
    margin: 0;
    padding: 0;
}

.infoContainer h4{
    font-family: "MontserratBold";
    font-size: 32px;
    font-weight: 500;
}

.infoContainer h3{
    font-family: "MontserratMedium";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.infoContainer hr{
    width: 100%;
    height: 2px;
    background-color: white;
    border: none;
}

.infoContainer h1{
    font-family: "MontserratBold";
    font-size: 48px;
    font-weight: 500;
    margin: 24px 0;
    background: linear-gradient(90deg, #1BFBEA 0%, #FA0404 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infoContainer .groupMembers::before{
    content: "Group Members: ";
    font-family: "MontserratMedium";
    font-size: 24px;
    font-weight: 500;
}

.infoContainer .groupMembers{
    font-family: "MontserratRegular";
    font-size: 24px;
    font-weight: 500;
}

.infoContainer .adviserMembers::before{
    content: "Adviser: ";
    font-family: "MontserratMedium";
    font-size: 24px;
    font-weight: 500;
}

.infoContainer .adviserMembers{
    font-family: "MontserratRegular";
    font-size: 24px;
    font-weight: 500;
}

.infoContainer .coadviserMembers::before{
    content: "Co-Adviser: ";
    font-family: "MontserratMedium";
    font-size: 24px;
    font-weight: 500;
}

.infoContainer .coadviserMembers{
    font-family: "MontserratRegular";
    font-size: 24px;
    font-weight: 500;
}

.infoContainer .description{
    font-family: "MontserratMedium";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}

.infoContainer #bottomLine{
    margin: 24px 0;
}

.infoContainer .sdg::before{
    content: "SDG: ";
}

.infoContainer .sdg{
    font-family: "MontserratMedium";
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 38px;
}

.infoContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
    margin-bottom: 160px;
}

.infoContainer div button{
    width: 320px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(180deg, #F00F0E -1.32%, #FF5543 98.68%);
    border: none;
    outline: none;
    font-family: "MontserratBold";
    font-weight: 500;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.infoContainer div button.active{
    background: #C6C6C6;
}

.infoContainer a{
    width: 198px;
    height: 22px;
    color: white;
    text-decoration: underline;
    font-family: "MontserratSemiBold";
    font-weight: 500;
    font-size: 18px;
}
/* Abstract Category End */

/* Footer */
.footerExtra{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 962px;
    padding: 0 18.5px;
}

.footer h4{
    margin: 0 0 36px 0;
    font-family: "Quantify";
    font-size: 140px;
    font-weight: 400;
    letter-spacing: 14px;
    text-align: center;
}

.footerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

#footerLogo{
    width: 130px;
    height: 86px;
    object-fit: contain;
}

.socialMedia p,
.email p{
    font-family: "MontserratBold";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.email p:nth-child(3){
    font-family: "MontserratMedium";
    font-weight: 500;
}

.footer hr{
    width: 100%;
    height: 4px;
    border: none;
    background-color: #D9D9D9;
}

#copyright{
    margin: 10px 0 0 0;
    font-family: "MontserratSemiBold";
    font-size: 18px;
    text-align: center;
}
/* Footer End */

/* Waves */
#waveTop{
    position: absolute;
    top: -40px;
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    overflow: visible;
}

#waveBottom{
    position: absolute;
    bottom: -30px;
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    overflow: visible;
    z-index: -1;
}
/* Waves End */

/* Media Query */
@media (max-width: 1200px){
    .container{
        margin: 0 50px;
    }

    .footer h4{
        font-size: 100px;
        letter-spacing: 10px;
    }
}

@media (max-width: 800px){
    .container{
        margin: 0 20px;
    }

    .infoContainer div{
        flex-direction: column;
        row-gap: 32px;
    }

    
    .footer h4{
        width: calc(100% + 30px);
    }

    .footerContainer{
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }

    .socialMedia p,
    .email p,
    #copyright{
        font-size: 14px;
    }
}
/* Media Query End */